vendor/
!public/vendor
node_modules/
npm-debug.log
.php_cs.cache

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
storage/clockwork
storage/api-docs/*
.env.*.php
.env.php
.env
.env-production
Homestead.yaml
Homestead.json
.phpunit.result.cache
coverage/**
.phpunit.cache
database/*.sqlite_test_*
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Phpstorm
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store
app/Repositories/Interfaces/UserRepositoryInterface
app/Repositories/UserRepository
App\Repositories\UserRepository
App\Repositories\Interfaces\UserRepositoryInterface
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
storage/app/*
/tmp/
.vscode/settings.json
.php-cs-fixer.cache

